.mt-60 {
  margin-top: 60px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.ml-20 {
  margin-left: 20px;
}

.text-italic-light {
  font-weight: lighter;
  color: rgba(255,255,255,0.5);
  margin: 0 10px;
}
