<div id="footer-pdv">
  <div class="container">
    <h2>Follow us on:</h2>
    <ul class="list-inline">
      <li><a href="https://open.spotify.com/user/w5azliprnz2bzz9ifkuodxbgj" target="_blank"><i class="fab fa-spotify"></i></a></li>
      <li><a href="https://www.deezer.com/en/profile/2440513284/playlists" target="_blank"></a></li>
    </ul>
  </div>
</div>
