<div id="footer-pdv">
  <div class="container">
    <h2>Follow us on:</h2>
    <div class="music-logos">
      <a href="https://open.spotify.com/user/w5azliprnz2bzz9ifkuodxbgj" target="_blank"><i class="fab fa-spotify fa-2x"></i></a>
      <a href="https://www.deezer.com/en/profile/2440513284/playlists" target="_blank"><%= image_tag "deezer-logo.png", width: 34.88 %></a>
    </div>
  </div>
</div>
