<%= render 'playlists/playlist_profile', playlist: @featured_playlist %>
<div class="grey-wrapper">
  <div class="container">
    <div class="playlists mt-40">
      <h2>Encore plus de playlists ✨</h2>
      <div class="playlist-grid mt-40">
        <% @latest_playlists.each do |playlist| %>
          <%= render 'playlists/playlist_card', playlist: playlist %>
        <% end %>
      </div>
      <p class="playlist-index-link">Toutes les playlists, c'est <%= link_to "par ici", playlists_path %>.</p>
    </div>
  </div>
</div>
