.featured-card-container {
  display: flex;
  height: 80vh;
}

.featured-card {
  flex: 1 0 auto;
  h2 {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 40px;
  }
}

.featured_playlist_song {
  padding: 10px 0;
  max-width: 100%;
  display: flex;
  border-bottom: solid 1px rgba(255,255,255,0.3);
}

.song-category {
  flex-basis: 40%;
}

.song-category-name {
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 1px;
}

.song-details {
  font-size: 16px;
}

.players {
  padding: 0 0 0 80px;
  height: 100%;
}

.player-iframes {
  height: 100%;
  display: flex;
  align-items: center;
}

.player-iframe h2 {
  font-size: 24px;
  padding-bottom: 20px;
}
