.playlist-card img {
  display: block;
  width: 298px;
  margin-bottom: 20px;
}

.playlist-card {
  position: relative;
  margin: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &:hover {
    color: #f36a7b;
  }
  @media (max-width: 576px) {
    margin: 30px auto;
  }
}

.playlist-card p {
  font-weight: bold;
  font-size: 16px;
}

a.playlist-card-link {
  color: white;
  &:hover {
    text-decoration: none;
  }
}

.playlist-card-hover {
  opacity: 0;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 55px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  i {
    color: black;
    font-size: 80px;
  }
  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}

.playlists h2 {
  font-weight: bold;
  font-size: 32px;
  margin-left: 30px;
  @media (max-width: 576px) {
    font-size: 28px;
  }
}

.playlist-grid {
  display: flex;
  flex-wrap: wrap;
}

